html {
    font-size: 16px;
}
body {
    background:-webkit-linear-gradient(120deg, #001524 0% ,rgba(255, 236, 209, 1) 50%, rgba(255, 125, 0, 1) 99%) no-repeat;
    font-family: 'Silkscreen', cursive;
    color: #001524;
    font-size: 1rem;
}
@-webkit-keyframes body {
    0% {
        background:-webkit-linear-gradient(180deg, #001524 0%, rgba(255, 236, 209, 1) 50%, #001524 99%) no-repeat;
    }
    100% {
        background:-webkit-linear-gradient(180deg, #001524 0%,  rgba(255, 125, 0, 1) 50%, #001524 99%) no-repeat;
    }
}
.bodywin {
    background:-webkit-linear-gradient(270deg, rgba(255, 236, 209, 1) 0%, rgba(255, 125, 0, 1) 99%) no-repeat;
}
.bodylose {
    background:-webkit-linear-gradient(180deg, #001524 0%, rgba(255, 236, 209, 1) 50%, #001524 99%) no-repeat;
    -webkit-animation-name: body;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
}

/*----styling for the site banner title----*/
header{
    width: 100%;
    background-color: #FFECD1;
    color: #78290F;
    text-align: center;
    font-size: 1rem;
    max-width: 100vw;
    margin-top: -.75rem;
}
.banner {
    display: flex;
    justify-content:flex-start;
    margin-bottom: -.95rem;
    white-space: nowrap;
}
/*----styling for the navigation bar to sections---*/
nav {
    background-color: #15616D;
    list-style: none;
    margin-bottom: -1rem;
}
.section-links {
    display:flex;
    flex-direction: row;
    justify-content: center;
}
a { 
    color: #FF7D00;
    margin-right: 1rem;
}
ul {
    list-style: none;
    white-space: nowrap;
    font-size: .85rem;
    display: flex;
    justify-content: space-between;
}
/*styling for opening welcome message---*/
.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 120%;
}
p {
    max-width: 65vw;
    font-size: .7rem;
    font-style: italic;
}
h2 {
    max-width: 85vw;
    margin: .2rem;
   }
.best {
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    color:#15616D;
    margin-top: -3.5rem;
    max-width: 80vw;
    margin-bottom: -2.5rem;
}
@-webkit-keyframes question {
    0% {
        color:#15616D;
    }
    100% {
        color:#FFECD1;
    }
}
#beforeform {
    -webkit-animation-name: question;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}
/*----styling for player move choice icons----*/
.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position:relative;
    margin-bottom: 1rem;
}
.button {
    height: auto;
    width: 14vw;
    background-color: #15616D;
    border-radius: 100%;
    padding: 1vw;
    transition: 100ms;
    display: flex;
    flex-wrap: wrap;
    margin: 1vw;
}
.button:hover {
    transform: scale(1.3);
}
.buttonreset {
    font-size: 1rem;
    background-color:#15616D;
    border-radius: 40%;
    opacity: 80%;
    padding: 1rem;
    color:#FF7D00;
    justify-content: center;
    text-decoration: underline;
    padding:1rem;
}
.resetstyling {
    font-size: 75%;
}
/*----styling for the game score counter area----*/
.battlefield {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-top: -2rem;
    margin-bottom: -2rem;
}
.avatar {
    height:auto;
    width: 30vw;
}
.stickman {
    -webkit-filter: drop-shadow(1px 1px 0 #FFECD1)
                    drop-shadow(1px 1px 0 #FFECD1);
    filter: drop-shadow(1px 1px 0 #FFECD1) 
            drop-shadow(-1px -1px 0 #FFECD1);
    width: 20vw;
  }
#vs {
    font-size: 3rem;
}
  /*----split----*/
.players {
    color:#15616D;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.scoreandname {
    width:30vw;
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 1.2rem;
  }
.names {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    align-content: flex-start;
}
#putplayernamehere {
    font-size: 1rem;
}
  /*----split----*/
.counter {
    margin-top: 2rem;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items:center;
}
.innerdiv {
   display: flex;
   justify-content: center;
   white-space: nowrap;
}
.logimgs {
    width: 8vw;
}
.record {
    display:flex;
    justify-content: center;
    font-size: 5rem;
    margin-bottom: -.5rem;
}
.record-choice {
    opacity: .5;
}
.record-choice.ties {
    opacity: .5;
    font-size: .8rem;
}
.record-choice.winner {
    opacity: 1;
    font-size: 1.5rem;
}
.how-to {
    max-width: 85vw;
    display: flex;
    justify-content: center;
}
footer {
    background-color: #FFECD1;
    color: #78290F;
    text-align: center;
    font-size: 1rem;
    max-width: 100vw;
    height: 6rem;
}
.footer {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding-right: 1.25rem;
    padding-left: 2rem;
}
.footanchor {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
/*----media query first break point----*/
@media screen and (min-width:320px) {
    .battlefield {
        margin-bottom: 2rem;
    }
}
@media screen and (min-width: 410px) {
    .battlefield {
        padding:3rem;
    }
    .innerdiv {
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }
}
@media screen and (min-width: 470px) {
    .welcome {
        font-size: 1.1rem;
    }
    .welcome2 {
        font-size: 1.6rem;
    }
    .how-to {
        width:85vw
    }
}
@media screen and (min-width: 650px) {
    .innerdiv {
        font-size: 1.8rem;
    }
}
@media screen and (min-width: 930px) {
    .parts {
        display: flex;
        flex-wrap: nowrap;
    }
    .part1 {
        max-width: 50vw;
        margin:4rem;
    }
    .part2 {
        max-width: 35vw;
        margin:4rem;
    }
    .button {
        max-width: 5rem;
    }
    .log {
        max-width: 20vw;
        margin-right: 10rem;
    }
    .logimgs {
        max-width: 5vw;
    }
}
@media screen and (min-width:1100px) {
    .battlefield {
        max-height: 20rem;
    }
    .innerdiv {
        max-height: 15rem;
    }
    .players {
        max-height: 15rem;
    }
    .buttons {
        max-height: 7rem;
    }
    .avatar {
        max-height: 15rem;
        max-width: 15rem;
    }
    .part1 {
        margin-bottom: 15rem;
    }
}